body {
    background-color: #202329;
}

header {
    position: sticky;
    top: -.75rem;
}

header >  .divHeader {
    --bg-color: rgb(26, 24, 22);
    background-color: var(--bg-color);
    padding: 1.5rem;
    width: 100%;
    padding-bottom: 2rem;
}

header >  .divHeader > .headerContainer> div {
    display: inline-block;
    height: auto;
    margin-left: 4vw;
    margin-top: 2vh;
}

header >  .divHeader > .headerContainer > div > span {
    --color-text: aliceblue;
    color: var(--color-text);
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
}

.headerContainer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

/* Creacion del hover para cada uno de los spans */

header > .divHeader > .headerContainer > div > .characters:hover, .locations:hover, .episodes:hover {
    opacity: .6;
    text-decoration: underline;
}

/* //clases para elementos creados por js */

.divDOM {
    color: rgb(83, 81, 81);
    text-align: center;
    padding: 2rem;
    font-family: 'Courier New', Courier, monospace;
}
.container-cards {
    width: 90%;
    margin: 0 auto;
}

@media (min-width: 240px) {
    .container-cards .cards {
        background-color: #3c4046;
        border-radius: 1rem;
        width: 100%;
        height: auto;
        margin: 1rem 1%;
        border: solid 5px #3c4046;
        overflow: hidden;
        color: aliceblue;
        padding-bottom: 1.5rem;
    }
    .container-cards .cards > img {
        display: inline-block;
        width: 100%;
    }
    .containerB {
        position: sticky;
        top: 10rem !important;
    }
  }


@media (min-width: 320px) {
    .container-cards .cards {
        width: 98%;
    }
    .container-cards .cards > img {
        display: inline-block;
        width: 100%;
    }

  }

  @media (min-width: 490px) {
    .container-cards .cards {
        display: inline-block;
        width: 48%;
        height: clamp( 80vh, 80vh+2vh, 87vh );
    }
    .container-cards .cards > img {
        display: inline-block;
        width: 100%;
    }
  }
  
@media ( min-width: 768px ) {
    .container-cards .cards {
        display: inline-block;
        width: 31%;
    }
    .container-cards .cards > img {
        width: 100%;
    }
    .containerB {
        position: sticky;
        top: 4.5rem !important;
    }
}

@media ( min-width: 992px ) {
    .container-cards .cards {
        display: inline-block;
        width: 23%;
    }
    .container-cards .cards > img {
        width: 100%;
    }
    .containerB {
        position: sticky;
        top: 4.5rem !important;
    }
}

.containerB {
    --bg-color: rgb(26, 24, 22);
    --color-text: aliceblue;
    text-align: center;
    padding: 2rem;
    top: 4.5rem;
}

.prevB, .nextB, .prevBL, .nextBL, .prevBE, .nextBE {
    cursor: pointer;
    font-size: 1.5rem;
 padding: .5rem 1.5rem;
 margin: .8rem;
 border-radius: .3rem;
 border-style: none;
 background-color: var(--bg-color);
 color: var(--color-text);
}

/* .prevB:hover, .nextB:hover {
    opacity: .9;
} */

.prevB:hover > span, .nextB:hover span {
    text-decoration: underline;
}

.prevBL:hover > span, .nextBL:hover span {
    text-decoration: underline;
}

.divSummary {
    border: 2px solid #3c4046;
    color: aliceblue;
    height: auto;
    padding: 1rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

summary {
    cursor: pointer;
}

.divSummary:hover {
    background-color: #3c4046;
}